---
import Layout from "../../../layouts/Layout.astro"
import music from '../../../utils/music.json'
import { getLangFromUrl, useTranslatedPath } from '../../../i18n/utils'
import type { GetStaticPaths } from "astro"
import MusicAlbum from '../../../components/MusicAlbum'
import MusicSpoilers from '../../../components/MusicSpoilers'
import './styles.scss'

export const getStaticPaths = (() => {
	return music.map(({ name }) => ({
		params: { entry: name }
	}))
}) satisfies GetStaticPaths

const entry = music.find(x => x.name == Astro.params.entry)

if (!entry) return Astro.redirect('/404')

const currentLang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(currentLang)

const anim = {
	old: {
		name: "bezier",
		duration: "0.4s",
		easing: "cubic-bezier(0.65,0.05,0.36,1)",
		direction: "reverse"
	},
	new: {
		name: "bezier",
		duration: "0.4s",
		easing: "cubic-bezier(0.65,0.05,0.36,1)"
	}
}

const customTransition = {
	forwards: anim,
	backwards: anim
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="SciADV Series" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SciADV Series - {entry.title} Music</title>
		<meta name="description" content="Is the scenery your eyes perceive truly real?" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={`SciADV Series - ${entry.title} Music`} />
		<meta property="og:description" content="Is the scenery your eyes perceive truly real?" />
		<meta property="og:url" content="https://sciadvseri.es/" />
		<meta property="og:image" content={entry.cardOg} />
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://sciadvseri.es/" />
		<meta property="twitter:title" content={`SciADV Series - ${entry.title} Music`} />
		<meta property="twitter:description" content="Is the scenery your eyes perceive truly real?" />
		<meta property="twitter:image" content={entry.card} />
	</head>
	<body>
		<Layout>
			<div class="entry">
				<div class="summary">
					<div class="coverWrapper">
						<div class="cover" transition:name={`music-cover-${entry.name}`} transition:animate={customTransition}>
							<picture>
								{entry.logo.map((src, i) => {
									if (entry.logo.length === i + 1) return <img src={src} alt='' />

									const type = src.split('.').pop()
									return <source srcset={src} type={`image/${type}`} />
								})}
							</picture>
						</div>
					</div>
					<div class="text">
						<div class="title">
							<h2>{entry.title}</h2>
							<span>Music tracks ({entry.period})</span>
						</div>
					</div>
				</div>
				<div class="listWrapper">
					{entry.list.some(x => x.spoiler) && <MusicSpoilers client:idle album={entry.name} hide='Hide spoilers' show='Show spoilers' />}
					<div class="list">
						{entry.list.map(album => <MusicAlbum album={album} entryName={entry.name} client:idle />)}
					</div>
				</div>
			</div>
		</Layout>
	</body>
</html>
